<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <title>ESPEChat</title>
</head>

<body>
    <header>
        <h1>ESPEChat</h1>
    </header>
    <main>
        <div id="all-messages">
            <div class="message">
                <div class="image-container">
                    <img src="../public/img/Javier.jpeg" alt="Foto de Perfil">
                    <div class="message-body">
                        <div class="user-info">
                            <span class="username">Paulo</span>
                            <span class="timestamp">11:11</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam adipisci id
                                beatae perspiciatis et libero sunt placeat, obcaecati ea, numquam vel quis sus
                                cipit, eligendi inventore provident quo facilis ipsam eos!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="image-container">
                    <img src="/src/public/img/Javier.jpeg" alt="Foto de Perfil">
                    <div class="message-body">
                        <div class="user-info">
                            <span class="username">Paulo</span>
                            <span class="timestamp">11:11</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam adipisci id
                                beatae perspiciatis et libero sunt placeat, obcaecati ea, numquam vel quis sus
                                cipit, eligendi inventore provident quo facilis ipsam eos!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="image-container">
                    <img src="/src/public/img/Javier.jpeg" alt="Foto de Perfil">
                    <div class="message-body">
                        <div class="user-info">
                            <span class="username">Paulo</span>
                            <span class="timestamp">11:11</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam adipisci id
                                beatae perspiciatis et libero sunt placeat, obcaecati ea, numquam vel quis sus
                                cipit, eligendi inventore provident quo facilis ipsam eos!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="image-container">
                    <img src="/src/public/img/Javier.jpeg" alt="Foto de Perfil">
                    <div class="message-body">
                        <div class="user-info">
                            <span class="username">Paulo</span>
                            <span class="timestamp">11:11</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam adipisci id
                                beatae perspiciatis et libero sunt placeat, obcaecati ea, numquam vel quis sus
                                cipit, eligendi inventore provident quo facilis ipsam eos!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="send-message">
            <input type="text" id="message">
            <button id="send-message" class="btn secondary">Enviar Mensaje</button>
        </div>
    </main>
    <p>Bienvenido a ESPEChat, la aplicación de chat en tiempo real.</p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>